body {
  font-family: "Lucida Grande", sans-serif;
  color: white;
  background-color: black;
}

h1 {
  font-size: 64px;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-shadow: 4px 4px 2px #000000;
}

p {
  font-size: 16px;
  padding-top: 15px;
}

img {
  width: 550px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div {
  min-height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0px;
}


#red {
  background-color: red;
  text-align: right;
  padding: 30px;
}

#blue {
  background-color: blue;
  text-align: left;
  padding: 30px;
}

#yellow {
  background-color: yellow;
  text-align: right;
}

#yellow h2{
  color: black;
  text-shadow: 4px 4px 2px grey;
}

#yellow p{
  color: black;
}

#green {
  background-color: green;
  text-align: left;
  padding: 30px;
}

footer {
  text-align: center;
  padding-bottom: 15px;
}
